{% set url = url('<current>') | render | render %}
{% set privacy_use = '수집 및 이용목적 CMS 출금이체를 통한 요금수납｜수집항목 성명, 전화번호, 휴대폰번호, 금융기관명, 계좌번호｜보유 및 이용기간 수집, 이용 동의일로부터 CMS 출금이체 종료일(해지일) 5년까지｜신청자는 개인정보 수집 및 이용을 거부할 권리가 있으며, 권리행사시 출금이체 신청이 거부될 수 있습니다.' %}
{% set privacy_use_third_party = '개인정보를 제공받는 자 사단법인 금융결제원｜개인정보를 제공받는 자의 개인정보 이용 목적 CMS 출금이체 서비스 제공 및 출금동의 확인, 출금이체 신규등록 및 해지 사실 통지｜제공하는 개인정보의 항목 성명, 금융기관명, 계좌번호, 생년월일, 전화번호(은행 등 금융회사 및 이용기관 보유), 휴대폰번호 개인정보를 제공받는 자의 개인정보 보유 및 이용기간 CMS 출금이체 서비스 제공 및 출금동의 확인 목적을 달성할 때까지｜신청자는 개인정보에 대해 금융결제원에 제공하는 것을 거부할 권리가 있으며, 거부시 출금이체 신청이 거부될 수 있습니다.' %}
{% set notification = '은행 등 금융회사 및 금융결제원은 CMS 제도의 안정적 운영을 위하여 고객의(은행 등 금융회사 및 이용기관 보유) 연락처 정보를 활용하여 문자메세지, 유선 등으로 고객의 출금이체 동의여부 및 해지사실을 통지할 수 있습니다. 상기 금융거래정보의 제공 및 개인정보의 수집 및 이용, 제3자 제공에 동의하며 CMS 출금이체를 신청합니다.' %}

<div class="container" id="donation-detail">
  <button style="float: right" class="button button--action button--primary" type="button" onclick="printJS({printable: 'donation-detail', type: 'html', scanStyles: false, css: '/modules/custom/gd9_donate/css/gd9-donate-print.css'})">PDF 출력</button>
  <h1 class="d-none">감사와 동행 정기 후원 신청서</h1>
  <h1 class="title">
    {{ data.donation.name }}-{{ data.donation.type }}-{{ data.donation.created }}
    {% if data.donation.account_holder_ssn %}
      <span class="badge badge-danger">기부금 영수증 발급 요청</span>
    {% endif %}
  </h1>

  <table>
  {% for key, field in data.donation %}
  <tr>
    <td class="donation-label">{{ data.lables[key] }}</td>
    <td class="donation-value{% if key in ['use', 'use_third_party', 'notification'] %} text-small{% endif %}">
      {% if key == 'use' %}{{ privacy_use }}{% endif %}
      {% if key == 'use_third_party' %}{{ privacy_use_third_party }}{% endif %}
      {% if key == 'notification' %}{{ notification }}{% endif %}
      {% if field == '1' %}<br /><span class="agreed">동의합니다.<span>{% endif %}
      {% if field != '1' %}{{ field }}{% endif %}
    </td>
  </tr>
  {% endfor %}
  </table>

  <button style="float: right" class="button button--action button--primary" type="button" onclick="printJS({printable: 'donation-detail', type: 'html', scanStyles: false, css: '/modules/custom/gd9_donate/css/gd9-donate-print.css'})">PDF 출력</button>
</div>