<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700,800,900|Open+Sans:400%2C800%2C700%7CPT+Serif:400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/themes/custom/gd9/custom/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/themes/custom/gd9/custom/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/themes/custom/gd9/custom/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/themes/custom/gd9/custom/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/themes/custom/gd9/custom/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="/themes/custom/gd9/custom/css/responsive.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/custom/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/custom/rs-plugin/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/custom/rs-plugin/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/custom/rs-plugin/css/addons/revolution.addon.bubblemorph.css">
    <css-placeholder token="{{ placeholder_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass('stretched') }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <script src="/themes/custom/gd9/custom/js/jquery.js"></script>
    <script src="/themes/custom/gd9/custom/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="/themes/custom/gd9/custom/js/plugins/jquery.cookie.js"></script>
    <script src="/themes/custom/gd9/custom/js/functions.js"></script>

  </body>
</html>
