
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="@team-durumi" />
  <css-placeholder token="{{ placeholder_token }}">
  <js-placeholder token="{{ placeholder_token }}">
  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700,800,900|Open+Sans:400%2C800%2C700%7CPT+Serif:400" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/themes/custom/gd9/custom/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/themes/custom/gd9/custom/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/themes/custom/gd9/custom/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/themes/custom/gd9/custom/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/themes/custom/gd9/custom/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/themes/custom/gd9/custom/css/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="/themes/custom/gd9/custom/css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/custom/rs-plugin/css/settings.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/custom/rs-plugin/css/layers.css">
  <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/custom/rs-plugin/css/navigation.css">

  <!-- ADD-ONS CSS FILES -->
  {# <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/custom/rs-plugin/css/addons/revolution.addon.bubblemorph.css"> #}
  <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/themes/custom/gd9/assets/css/gd9.style.css">

  <!-- Document Title
  ============================================= -->
  <title>이주민공익지원센터 감사와 동행 / 홈페이지</title>
  <style>
    .bm-gradient{background:-webkit-linear-gradient(left,#ff2a75 0%,#ffdb4f 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}.bm-gradient2{background:-webkit-linear-gradient(left,#452aff 0%,#45ffff 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}.bm-gradient3{background:-webkit-linear-gradient(left,#4f00f6 0%,#b000f7 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent}.hermes.tp-bullets{}.hermes .tp-bullet{overflow:hidden;  border-radius:50%;  width:16px;  height:16px;  background-color:rgba(0,0,0,0);  box-shadow:inset 0 0 0 2px rgb(204,204,204);  -webkit-transition:background 0.3s ease;  transition:background 0.3s ease;  position:absolute}.hermes .tp-bullet:hover{background-color:rgba(204,204,204,1)}.hermes .tp-bullet:after{content:' '; position:absolute; bottom:0; height:0; left:0; width:100%; background-color:rgb(204,204,204); box-shadow:0 0 1px rgb(204,204,204); -webkit-transition:height 0.3s ease; transition:height 0.3s ease}.hermes .tp-bullet.selected:after{height:100%}
    .visually-hidden {visibility: hidden; display: none;}
  </style>

</head>

<body class="stretched" id="page--front">

    {{ page_top }}

  <!-- Document Wrapper
  ============================================= -->
  <div id="wrapper" class="clearfix">

    {% include '@gd9/layout/header.twig' %}

  {% if page.header %}
    <header class="page__header" style="overflow-x: hidden; width: 100%;">
      {{ page.header }}
    </header>
  {% endif %}

    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>

    <section id="content" style="width:100%;">

      <div class="content-wrap">

        <div class="promo promo-light promo-full uppercase header-stick mb-5">
          <div class="container clearfix">
            <h3 style="letter-spacing: 2px;">차별 없는 사회를 향한 발걸음에 동행해 주세요.</h3>
            <span>감사와 동행은 정부, 지자체의 지원 없이<br/>
                오로지 시민 여러분의 후원으로 운영되는 비영리 단체 입니다. 차별 없는 사회를 만들기 위한 감사와 동행의 발걸음에 동참해 주세요. </span>
            <a href="/donate" class="button button-large button-border button-rounded">후원하기</a>
          </div>
        </div>

        <div class="container clearfix">

          <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
              <div class="fbox-media">
                <img style="border-radius: 2px;" src="/themes/custom/gd9/custom/images/actions/main_act_1.jpg" alt="법원 전경">
              </div>
              <div class="fbox-desc">
                <h3>법률지원<span class="subtitle">이주민 인권 보장을 위한 지원</span></h3>
                <p>국내 체류 이주민·난민 중 사회·경제적으로 취약한 이주민에게 무료 법률 상담과 무료 소송 진행 등 각종 법률 조력을 지원합니다.</p>
              </div>
            </div>
          </div>

          <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
              <div class="fbox-media">
                <img style="border-radius: 2px;" src="/themes/custom/gd9/custom/images/actions/main_act_2.jpg" alt="이주인권단체 공동 기자회견">
              </div>
              <div class="fbox-desc">
                <h3>제도 개선<span class="subtitle">함께하는 공동체를 위한 변화</span></h3>
                <p>고용허가제·출입국관리법·난민법 등 각종 법제도 개선 연구 및 외국인보호소 실태 조사 등에 참여하여 제도적·정책적 개선을 도모합니다.</p>
              </div>
            </div>
          </div>

          <div class="col_one_third nobottommargin col_last">
            <div class="feature-box media-box">
              <div class="fbox-media">
                <img style="border-radius: 2px;" src="/themes/custom/gd9/custom/images/actions/main_act_3.jpg" alt="2019 전국이주인권대회">
              </div>
              <div class="fbox-desc">
                <h3>공익법 활동<span class="subtitle">다양성 감수성의 확대</span></h3>
                <p>이주민을 위한 법률 교육을 지원하며, 인종차별과 혐오 표현 대응 및 인식 개선 캠페인, 공익변호사 양성과 교류 활동에 참여합니다.</p>
              </div>
            </div>
          </div>

        </div>

        <br/>
        <br/>

        <a href="/about" class="button button-3d nobottomborder button-full center tright bottommargin-lg t300 font-primary" style="font-size: 26px; background-color: #EB866A; color: #000; padding: 25px 0;">
          <div class="container clearfix">
            감사와 동행을 더 알고 싶으시다면 <strong>‘여기’</strong>를 눌러주세요. <i class="icon-angle-right" style="top:3px;"></i>
          </div>
        </a>

        <div class="container topmargin-lg cleafix">

          <div class="col_two_fifth">
            <h4><a href="/references/annual-report">연간보고서</a></h4>
            <p>감사와 동행은 매년 연간보고서를 발행하고 있습니다. 연간보고서에는 주요 활동 및 후원금 집행 내역 등이 기재됩니다.</p>
            <ul class="nobottommargin clearfix">
              <li style="padding: 20px; list-style: none; padding: 0; margin: 0">
                {{ drupal_block('views_block:content_recent-annual_report', wrapper=false) }}
              </li>
            </ul>
          </div>

          <div class="col_three_fifth col_last">
            <h4><a href="/actions">활동</a></h4>
            {{ drupal_block('views_block:content_recent-actions', wrapper=false) }}
            <h4><a href="/notices">공지</a></h4>
            {{ drupal_block('views_block:content_recent-notices', wrapper=false) }}
          </div>
        </div>

      </div>

    </section><!-- #content end -->

    {% include '@gd9/layout/footer.twig' %}

  </div><!-- #wrapper end -->

  {{ page_bottom }}
  <js-bottom-placeholder token="{{ placeholder_token }}">

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
  ============================================= -->
  <script src="/themes/custom/gd9/custom/js/jquery.js"></script>
  <script src="/themes/custom/gd9/custom/js/plugins.js"></script>

  <!-- Footer Scripts
  ============================================= -->
  <script src="/themes/custom/gd9/custom/js/plugins/jquery.owlcarousel.js"></script>
  <script src="/themes/custom/gd9/custom/js/plugins/jquery.cookie.js"></script>
  <script src="/themes/custom/gd9/custom/js/functions.js"></script>


  <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
  <script src="/themes/custom/gd9/custom/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

  <!-- ADD-ONS JS FILES -->
  <script src="/themes/custom/gd9/custom/rs-plugin/js/addons/revolution.addon.bubblemorph.min.js"></script>

  <!-- SLIDER REVOLUTION EXTENSIONS  -->
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="/themes/custom/gd9/custom/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

  <!-- ADD-ONS JS FILES -->
  <script>
    var revapi133,
    tpj;
    (function() {
      if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad); else onLoad();

      function onLoad() {
        if (tpj===undefined) { tpj = jQuery; if("off" == "on") tpj.noConflict();}
          if(tpj("#rev_slider_133_1").revolution == undefined){
            revslider_showDoubleJqueryError("#rev_slider_133_1");
          }else{
          revapi133 = tpj("#rev_slider_133_1").show().revolution({
            sliderType:"standard",
            jsFileLocation:"/themes/custom/gd9/custom/rs-plugin/js/",
            sliderLayout:"fullscreen",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"on",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
               mouseScrollReverse:"default",
              onHoverStop:"off",
              touch:{
                touchenabled:"on",
                touchOnDesktop:"off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              bullets: {
                enable:true,
                hide_onmobile:false,
                style:"hermes",
                hide_onleave:false,
                direction:"horizontal",
                h_align:"center",
                v_align:"bottom",
                h_offset:0,
                v_offset:20,
                space:5,
                tmp:''
              }
            },
            responsiveLevels:[1240,1024,778,480],
            visibilityLevels:[1240,1024,778,480],
            gridwidth:[1240,1024,778,480],
            gridheight:[868,768,960,720],
            lazyType:"none",
            shadow:0,
            spinner:"off",
            stopLoop:"on",
            stopAfterLoops:0,
            stopAtSlide:1,
            shuffle:"off",
            autoHeight:"off",
            fullScreenAutoWidth:"off",
            fullScreenAlignForce:"off",
            fullScreenOffsetContainer: "",
            fullScreenOffset: "",
            disableProgressBar:"on",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:false,
            }
          });
        }; /* END OF revapi call */

        BubbleMorphAddOn(jQuery, revapi133, false)
      }; /* END OF ON LOAD FUNCTION */
    }()); /* END OF WRAPPING FUNCTION */
  </script>
</body>
</html>
