{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{# {{ kint(_context) }} #}

<div class="views-actions-header my-5">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="/actions/legal-support">법률지원</a></h5>
        <p class="card-text">
          감동은 이주노동자·결혼이주민·이주아동·난민 등 국내 체류 이주민 중 사회·경제적으로 취약한 이주민에게 무료 법률 상담과 무료 소송 진행 등 각종 법률 조력을 지원합니다.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="/actions/research">제도 개선</a></h5>
        <p class="card-text">
          감동은 고용허가제·출입국관리법·난민법 등 각종 법제도 개선 연구 및 외국인보호소 실태 조사, 유엔 관련 국제 인권 활동 등에 참여하여 제도적·정책적 개선을 도모합니다.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="/actions/campaign">기타 공익법 활동</a></h5>
        <p class="card-text">
          감동은 이주민 당사자 및 선주민 활동가를 위한 법률 교육을 지원하며, 인종차별과 혐오 발언 대응 및 인식 개선 캠페인, 공익변호사 양성과 교류 활동에 참여합니다.
        </p>
      </div>
    </div>
  </div>
</div>

<div{{ attributes }}>
  <ul class="list-unstyled">
  {% for row in actions %}
    <li class="media mb-1">
    {% if row['field_image'] %}
      <div class="media-image mr-3 mb-3">
        {{ row['field_image'] }}
      </div>
    {% else %}
      <div class="media-image mr-3 mb-3">
        <img src="https://via.placeholder.com/480x300" alt="{{ row['title'] | striptags }}" />
      </div>
    {% endif %}
      <div class="media-body">
        <h5 class="mt-0 mb-2">{{ row['title'] }}<span class="badge badge-info ml-3">{{ row['field_actions'] }}</span></h5>
        <p>{{ row['body']|raw }}</p>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
