{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{# {{ kint(_context) }} #}

<div{{ attributes }}>
{% for row in actions %}
  <div class="oc-item">
    <div class="ipost clearfix">
      <div class="entry-image">
        {% if row['field_image'] %}
          {{ row['field_image'] }}
        {% else %}
          <img src="https://via.placeholder.com/150x94" alt="{{ row['title'] | striptags }}" />
        {% endif %}
      </div>
      <div class="entry-title">
        <h3>{{ row['title'] }}</h3>
      </div>
      <ul class="entry-meta clearfix">
        <li>{{ row['created'] }}</li>
        <li>조회수 {{ row['totalcount'] }}</li>
      </ul>
    </div>
  </div>
{% endfor %}
</div>
